<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>ADD</title>
  </head>
  <body>
    <h3>Add a New Book Title and a Review:</h3>
    {% for x in author %}
      {{ x.name }}
    {% endfor %}
    {% for x in book %}
      {{ x.title }}
    {% endfor %}
    {% if messages %}
      <ul class="messages">
          {% for message in messages %}
          <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
    {% endif %}
    <!-- <form action="/addreview/{{ link_id }}" method="post"> -->
    <form action="/booked/{{ link_id }}" method="post">
      {% csrf_token %}
      <label for="title">Book Title:</label><input type="text" name="title"><br>
      <label for="author">Author:</label>
      <p>Choose from the list: </p>
      <select name="old_name">
        {% for x in author %}
          <option value="{{x.name}}">{{x.name}}</option>
        {% endfor %}
        <!-- <option value="brown">Dan Brown</option> -->
      </select>
      <p>Or add a new author: <input type="text" name="new_name"></p>
      <label for="rating">Rating:</label>
      <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="text">Review:</label><br>
      <textarea name="text" rows="8" cols="80"></textarea><br>
      <input type="submit" value="Submit">
    </form>
    <form action="/return" method="post">
      {% csrf_token %}
      <input type="submit" value="Return to Account">
    </form>
  </body>
</html>
